{%load static%}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <style>
        form {
            width: 600px;
            height: 300px;
            margin-top: 50px;
        }
    </style>
   


</head>

<body class="bg-warning">

    <div class="container mt-3">
        <center><h1>Sign In</h1></center>
        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card " style="max-width: 700px;height: 350px;">
               
                <div class="row g-0">
                    
                    <div class="col-md-4  ">
                        <img src="{%static 'images/login2.png.'%}" class=" rounded-start" alt="..." style="height: 350px; width: 100%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            
                            <form action="" method="post">
                                {%csrf_token%}
        
                                 {{form}}
        
                                <button type="submit"  class=" mt-3 bg-light w-50 h-30 px-5">Sign In</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
      </div>
            <div class="c0l-3"></div>
        </div>



              <!-- <div class="col-7"></div>
                <center><h1>Sign In</h1></center>
                
                <div class="col-4 mx-auto d-flex border border-3 p-3 bg-light" >
    
                    <form action="" method="post">
                        {%csrf_token%}

                         {{form}}

                        <button type="submit"  class="mx-auto d-flex mt-5 bg-danger w-50 h-30 px-5">Sign In</button>
                    </form>
                </div>
            <div class="col-1"></div>
        </div> -->
</body>

</html>