{%extends 'base.html'%}
{%block main_block%}

    <div class="container mt-5">

        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 bg-secondary">

                <form action="" method="post">
                    <center><h1>Create Me</h1></center>
                    {%csrf_token%}
                    {{form}}
                    <button type="submit" class="form-control">Add</button>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    
    {%endblock%}
    {%block script_block%}
    {%endblock%}




