{%extends 'base.html'%}
{%block main_block%}


<div class="container my-3">
    <center><h1>welcome {{request.user}}!!!</h1></center>
    <div class="w-50 mx-auto">
        <form action="">
            <select name="category" id="" class="form-select" onchange="this.form.submit()">
                <option value="">Select one</option>
                <option value="all" {%if selected == "all"%}selected{%endif%}>all</option>
                <option value="personal" {%if selected == "personal"%}selected{%endif%}>personal</option>
                <option value="business"{%if selected == "business"%}selected{%endif%}>business</option>
            </select>
        </form>
        <!-- <form action="{%url 'task_list'%}" class="pt-3 mx-2" >
            <input type="text" placeholder="enter keyword" name="search_text" class=" mx-3">
            <button type="submit" class="btn-danger" > Search</button>
        </form> -->
    </div>
</div>

<div class="container">

    <div class="row">

        {%for t in tasks%}

        <div class="col-4">
            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-between">
                    <div> {{t.user}} </div>
                    <div>
                        {%if t.status == 'pending'%}

                        <i class="fa-regular fa-hourglass-half" style="color: red;"></i>
                        {%endif%}

                        {%if t.status == 'in-progress'%}

                        <i class="fa-solid fa-spinner" style="color: rgb(224, 124, 9);"></i>


                        {%endif%}

                        {%if t.status == 'done'%}

                        <i class="fa-solid fa-circle-check" style="color: green;"></i>

                        {%endif%}

                        {{t.status}}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{t.title}}</h5>
                    <p class="card-text">{{t.description}}</p>
                </div>
                <div class="card-footer text-body-white">
                    created_date:{{t.created_date|date}}
                    due_date:{{t.due_date|date}}
                    Last_updated:{{t.updated_date|date}}
                </div>
                <div class="card-footer text-body-white d-flex justify-content-between">
                    <a class="btn btn-info" href="{%url 'task_update' t.id%} " role="button">View</a>
                    <a class="btn btn-info" href="{%url 'task_delete' t.id%} " role="button">Remove</a>
                </div>
                          
            </div>
        </div>



        {%endfor%}


    </div>


</div>

{%endblock%}
{%block script_block%}
{%endblock%}